#box1{
    // border: solid gray;
    padding: 10px;
    height: 100px
}

.headline{
    font-size: 30px;
    background-color: white;
    height: 70px;
}

.title{
    font-size: 12px;
    background-color: white;
}